[submodule "fit-server-privates"]
	path = fit-server-privates
	url = https://github.com/Team-Crops/fit-server-privates.git
	branch = main
[submodule "application config"]
	path = src/main/resources/config
	url = https://github.com/Team-Crops/fit-server-privates.git
	branch = main