<!DOCTYPE html>
<html lang="ko" style="font-family: 'Arial', sans-serif;
      text-align: left;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F-IT &#45824;&#44592;&#48169; &#49373;&#49457;</title>
</head>
<body style="font-family: 'Arial', sans-serif;
      text-align: left;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;">
<div class="container" style="display: flex;
      flex-direction: column;
      max-width: 630px;
      height: 100%;
      margin: 0 auto;">
  <main class="main" style="flex: 1;
      padding: 20px;">
    <div class="logo" style="margin-top: 50px;">
      <img src="https://d2ueefa0uvyh4f.cloudfront.net/mail/images/logo.png" alt="F-IT &#47196;&#44256;" style="width: 160px;
      height: 51.526px;">
    </div>
    <div class="content" style="margin-top: 30px;">
      ${content}
    </div>
    <div class="button-container" style="margin-top: 60px;">
      <a href="#" class="button" style="background-color: #FF8A80;
      color: white;
      padding: 15px 30px;
      border: none;
      border-radius: 10px;
      font-size: 16px;
      cursor: pointer;
      text-decoration: none;">&#54168;&#51060;&#51648;&#47196; &#51060;&#46041; &rarr;</a>
    </div>
  </main>

  <footer style="padding: 30px 20px;
      background-color: #f5f5f5;
      border: 0.5px solid #BDBDBD;
      background-color: #F5F5F5;">
    <div class="footer-content" style="display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;">
      <div class="footer-logo" style="display: flex;
      align-items: center;">
        <img src="https://d2ueefa0uvyh4f.cloudfront.net/mail/images/black_logo.png" alt="F-IT &#47196;&#44256;" style="width: 80px;">
      </div>
      <div class="footer-links" style="display: flex;
      align-items: center;
      font-size: 14px;
      color: #666;">
        <a href="#" style="color: #666;
      text-decoration: none;
      margin: 0 10px;">&#49436;&#48708;&#49828; &#51060;&#50857;&#50557;&#44288;</a>
        <span style="margin: 0 10px;">|</span>
        <a href="#" style="color: #666;
      text-decoration: none;
      margin: 0 10px;">&#44060;&#51064;&#51221;&#48372; &#52376;&#47532;&#48169;&#52840;</a>
      </div>
    </div>
    <hr style="border: solid 0.5px #BDBDBD;">
    <div class="footer-contact" style='display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      color: #616161;
      font-family: "Spoqa Han Sans Neo";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;'>
      <div class="contact-info" style="flex: 1;">
        <p style="padding-bottom:8px;line-height:0.5;">&#47928;&#51032;</p>
        <p style="line-height: 0.5;">010-9295-9776</p>
        <p style="line-height: 0.5;"><a href="mailto:crops.project.fit@gmail.com" style="color: #666;
      text-decoration: none;">crops.project.fit@gmail.com</a></p>
      </div>
      <div class="footer-instagram">
        <a href="https://www.instagram.com/f.it.official/" target="_blank" style="color: #666;
      text-decoration: none;">
          <img src="https://d2ueefa0uvyh4f.cloudfront.net/mail/images/instagram.png" alt="Instagram" style="width: 37px;
      height: 37px;
      margin-left: 20px;
      margin-top: 30px;">
        </a>
      </div>
    </div>
    <div class="footer-bottom" style='text-align: left;
      color: #616161;
      font-family: "Spoqa Han Sans Neo";
      font-size: 16px;
      font-style: normal;
      font-weight: 300;'>
      <p>&copy; 2023 F-IT, All Rights Reserved</p>
    </div>
  </footer>
</div>

</body>
</html>