<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>F-IT 대기방 생성</title>
  <link rel="stylesheet" href="https://d2ueefa0uvyh4f.cloudfront.net/mail/css/style.css">
  <link rel="stylesheet" href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css">
</head>
<body>
<div class="container">
  <main class="main">
    <div class="logo">
      <img src="https://d2ueefa0uvyh4f.cloudfront.net/mail/images/logo.png" alt="F-IT 로고">
    </div>
    <div class="content">
      ${content}
    </div>
    <div class="button-container">
      <a href="#" class="button">페이지로 이동 →</a>
    </div>
  </main>

  <footer>
    <div class="footer-content">
      <div class="footer-logo">
        <img src="https://d2ueefa0uvyh4f.cloudfront.net/mail/images/black_logo.png" alt="F-IT 로고">
      </div>
      <div class="footer-links">
        <a href="#">서비스 이용약관</a>
        <span>|</span>
        <a href="#">개인정보 처리방침</a>
      </div>
    </div>
    <hr style="border: solid 0.5px #BDBDBD;">
    <div class="footer-contact">
      <div class="contact-info">
        <p style="padding-bottom: 8px;">문의</p>
        <p>010-9295-9776</p>
        <p><a href="mailto:crops.project.fit@gmail.com">crops.project.fit@gmail.com</a></p>
      </div>
      <div class="footer-instagram">
        <a href="https://www.instagram.com/f.it.official/" target="_blank">
          <img src="https://d2ueefa0uvyh4f.cloudfront.net/mail/images/instagram.png" alt="Instagram">
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2023 F-IT, All Rights Reserved</p>
    </div>
  </footer>
</div>
</div>
</body>
</html>
